<a href="https://colab.research.google.com/github/devdhruvper/Key-Keystream-Cipher/blob/main/Dhruv_Talan_LSTM_implemented_on_RC4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
DF=pd.read_csv('/content/NGG_Bitwise3.csv',header=None)

In [ ]:
DF

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0,1,0,1,1,0,0,0,1,1,...,1,0,147,254,131,202,157,65,150,83
1,0,1,0,0,1,1,0,0,0,0,...,1,1,149,176,120,147,51,171,43,81
2,0,0,0,1,1,1,0,0,1,1,...,1,0,207,38,170,118,203,105,152,127
3,1,1,1,0,0,0,1,0,0,1,...,1,1,251,101,29,227,216,248,181,49
4,0,0,1,1,0,0,1,0,0,1,...,1,0,170,129,243,146,144,184,225,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,0,0,1,1,1,0,0,1,1,1,...,1,1,197,81,42,70,121,134,46,102
99997,0,0,0,0,0,1,0,0,0,1,...,0,1,104,16,48,191,140,148,38,121
99998,0,1,0,0,1,1,0,1,0,0,...,1,0,209,244,64,67,37,215,103,72
99999,1,0,1,1,0,1,0,1,0,0,...,0,0,98,152,244,5,24,146,168,195
100000,0,0,0,0,1,0,0,1,1,0,...,1,1,250,254,215,51,169,223,56,164

In [ ]:
alpha=DF.iloc[:,1].str.split(',',expand=True)
alpha

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,fd,37,6d,e4,5d,2d,d0,00,41,43,e3,ad,85,70,86,d6,0b,f2,ad,55
1,2e,00,d1,37,13,6c,59,22,58,38,44,0d,c9,46,c7,b1,cb,37,80,32
2,d6,99,7b,d5,98,0b,8f,53,d5,2d,49,c7,49,d6,0d,64,c0,af,07,68
3,48,45,be,02,aa,17,c2,60,a4,99,6c,cc,5f,2c,0b,6a,e4,77,64,3f
4,da,54,52,4a,81,3e,22,54,0c,35,ce,7c,b4,7f,ae,5c,ae,de,8a,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72886,7f,ae,b8,67,e9,72,62,2a,44,d7,58,42,d1,40,48,1a,26,aa,4c,46
72887,73,35,c6,72,64,4b,7c,a0,3f,56,19,85,c4,28,b5,1f,b4,83,f3,f5
72888,91,5e,5f,b4,67,ee,32,3a,95,67,df,3d,4a,d8,1b,e0,37,dc,bd,57
72889,ed,36,2d,e5,e6,0b,d9,bf,85,54,8f,ba,fc,f2,ea,a2,0b,9e,d9,f4
72890,17,37,94,18,eb,4f,4b,3c,34,ec,6d,f8,86,7d,ac,6b,c0,c4,c8,df

In [ ]:
import numpy as np
key_s=DF.iloc[:72891,0]
key_S=np.array(key_s)
used_ks=np.array((alpha.iloc[:72891,1]))
s1=pd.DataFrame({'key':key_S,'keys_stream':used_ks})
s1

              key keys_stream
0      16f5388479          37
1      e35310c021          00
2      61f67d6589          99
3      241141ac73          45
4      a6503c1eae          54
...           ...         ...
72886  84982607ed          ae
72887  ae957dbd5c          35
72888  2a830c81dc          5e
72889  d75daab2f1          36
72890  1a6bfc5ee8          37

[72891 rows x 2 columns]

In [ ]:
s1.to_csv("s1.csv",index=False)

In [ ]:
mlp=pd.read_csv('/content/s1.csv')
mlp

              key keys_stream
0      16f5388479          37
1      e35310c021          00
2      61f67d6589          99
3      241141ac73          45
4      a6503c1eae          54
...           ...         ...
72886  84982607ed          ae
72887  ae957dbd5c          35
72888  2a830c81dc          5e
72889  d75daab2f1          36
72890  1a6bfc5ee8          37

[72891 rows x 2 columns]

In [ ]:
hex_num = '16f5388479'
bin_num = bin(int(hex_num, 16))[2:].zfill(40)

In [ ]:
bin_num

'0001011011110101001110001000010001111001'

In [ ]:
mlp.columns=['hex','2nd_byte']

In [ ]:
mlp

              hex 2nd_byte
0      16f5388479       37
1      e35310c021       00
2      61f67d6589       99
3      241141ac73       45
4      a6503c1eae       54
...           ...      ...
72886  84982607ed       ae
72887  ae957dbd5c       35
72888  2a830c81dc       5e
72889  d75daab2f1       36
72890  1a6bfc5ee8       37

[72891 rows x 2 columns]

In [ ]:
def is_hex(s):
    try:
        int(s, 16)
        return True
    except ValueError:
        return False

for index, row in mlp.iterrows():
    if not is_hex(row['hex']):
        mlp.drop(index, inplace=True)

In [ ]:
mlp

              hex 2nd_byte
0      16f5388479       37
1      e35310c021       00
2      61f67d6589       99
3      241141ac73       45
4      a6503c1eae       54
...           ...      ...
72886  84982607ed       ae
72887  ae957dbd5c       35
72888  2a830c81dc       5e
72889  d75daab2f1       36
72890  1a6bfc5ee8       37

[72736 rows x 2 columns]

In [ ]:
def hex_to_bin(hex_num):
    return bin(int(hex_num, 16))[2:].zfill(40)

mlp['Binary'] = mlp['hex'].apply(hex_to_bin)

In [ ]:
mlp

              hex 2nd_byte                                    Binary
0      16f5388479       37  0001011011110101001110001000010001111001
1      e35310c021       00  1110001101010011000100001100000000100001
2      61f67d6589       99  0110000111110110011111010110010110001001
3      241141ac73       45  0010010000010001010000011010110001110011
4      a6503c1eae       54  1010011001010000001111000001111010101110
...           ...      ...                                       ...
72886  84982607ed       ae  1000010010011000001001100000011111101101
72887  ae957dbd5c       35  1010111010010101011111011011110101011100
72888  2a830c81dc       5e  0010101010000011000011001000000111011100
72889  d75daab2f1       36  1101011101011101101010101011001011110001
72890  1a6bfc5ee8       37  0001101001101011111111000101111011101000

[72736 rows x 3 columns]

In [ ]:
mlp.drop('hex', axis=1, inplace=True)

In [ ]:
mlp

      2nd_byte                                    Binary
0           37  0001011011110101001110001000010001111001
1           00  1110001101010011000100001100000000100001
2           99  0110000111110110011111010110010110001001
3           45  0010010000010001010000011010110001110011
4           54  1010011001010000001111000001111010101110
...        ...                                       ...
72886       ae  1000010010011000001001100000011111101101
72887       35  1010111010010101011111011011110101011100
72888       5e  0010101010000011000011001000000111011100
72889       36  1101011101011101101010101011001011110001
72890       37  0001101001101011111111000101111011101000

[72736 rows x 2 columns]

In [ ]:
def hex_to_bin(hex_num):
    return int(hex_num, 16)
mlp['2BYTE'] = mlp['2nd_byte'].apply(hex_to_bin)

In [ ]:
mlp.drop('2nd_byte', axis=1, inplace=True)

In [ ]:
mlp

                                         Binary  2BYTE
0      0001011011110101001110001000010001111001     55
1      1110001101010011000100001100000000100001      0
2      0110000111110110011111010110010110001001    153
3      0010010000010001010000011010110001110011     69
4      1010011001010000001111000001111010101110     84
...                                         ...    ...
72886  1000010010011000001001100000011111101101    174
72887  1010111010010101011111011011110101011100     53
72888  0010101010000011000011001000000111011100     94
72889  1101011101011101101010101011001011110001     54
72890  0001101001101011111111000101111011101000     55

[72736 rows x 2 columns]

In [ ]:
import numpy as np

def int_to_vector(integer):
    vector = np.zeros(256)
    vector[integer] = 1
    return vector

In [ ]:
mlp['ARR_REP'] = mlp['2BYTE'].apply(int_to_vector)

In [ ]:
mlp.drop('2BYTE', axis=1, inplace=True)

In [ ]:
mlp

,Binary,ARR_REP
0,0001011011110101001110001000010001111001,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1110001101010011000100001100000000100001,"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,0110000111110110011111010110010110001001,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,0010010000010001010000011010110001110011,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,1010011001010000001111000001111010101110,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...
72886,1000010010011000001001100000011111101101,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
72887,1010111010010101011111011011110101011100,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
72888,0010101010000011000011001000000111011100,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
72889,1101011101011101101010101011001011110001,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
72890,0001101001101011111111000101111011101000,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [ ]:
def convert_to_array(s):
    # convert your 40-bit string to an array of 40 elements each having strings elements as 0's and 1's
    x = np.array([float(i) for i in s])
    return x
mlp['Binary'] = mlp['Binary'].apply(convert_to_array)

In [ ]:
# convert the 40-bit strings to numpy arrays
X = np.array(mlp['Binary'].apply(list).tolist())

# # convert the 256-length vectors to numpy arrays
y = np.array(mlp['ARR_REP'].apply(list).tolist())

# # reshape the input data to match the LSTM input shape
X = X.reshape(X.shape[0], X.shape[1], 1)

In [ ]:
X.shape

(72736, 40, 1)

In [ ]:
y.shape

(72736, 256)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
# train the model on the input data
model = Sequential()
model.add(LSTM(256, input_shape=(40, 1)))
model.add(Dense(256, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())
model.fit(X, y, epochs=10, batch_size=32)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 256)               264192

 dense (Dense)               (None, 256)               65792

=================================================================
Total params: 329,984
Trainable params: 329,984
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/10
2273/2273 [==============================] - 18s 5ms/step - loss: 5.5459 - accuracy: 0.0071
Epoch 2/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5440 - accuracy: 0.0077
Epoch 3/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5427 - accuracy: 0.0077
Epoch 4/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5418 - accuracy: 0.0077
Epoch 5/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5407 - accuracy: 0.0078
Epoch 6/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5396 - accuracy: 0.0077
Epoch 7/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5380 - accuracy: 0.0077
Epoch 8/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5362 - accuracy: 0.0077
Epoch 9/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5327 - accuracy: 0.0077
Epoch 10/10
2273/2273 [==============================] - 11s 5ms/step - loss: 5.5284 - accuracy: 0.0077